a
{
    display: block;
}

#imagenes, #comentarios, #imagenError, .imagen, .imagen a
{
    width: 600px;
    max-width: 600px;
}

#imagenes, #comentarios, #imagenError{
    margin: 0 auto;
}

#contenido
{
    /* Es para limitar el tamano del contenido y que tenga su scroll pero tengo que programar su funcionamiento.
    overflow-y: auto;
    height: 1000px;
    max-height: 1000px;
    */

    /* Es para efectos de pruebas en navegadores. */
    height: 1000px;
}

#imagenes h1, #imagenes h2, #imagenes h3, #imagenes h4, #imagenes h5, #imagenes h6, #imagenError h1, #imagenError h2, #imagenError h3, #imagenError h4, #imagenError h5, #imagenError h6
{
    margin: 0;
    padding: 0;
}

#imagenes h3, #imagenes h4, #imagenes h5, #imagenes h6, #imagenError h3, #imagenError h4, #imagenError h5, #imagenError h6 
{
    color: gray;
    text-align: justify;
}

.imagen
{
    margin-bottom: 50px;
}

.imagen img, #imagenError img{
    border: solid 20px black;
    width: 560px;
}

/* Facebook */
.fb-comments 
{
    background-color: #333 !important;
}
/* Termina Facebook */